page-shiftplanning {
    .background{
        background-color: #004D79;
    }  
    ion-card {
     
        border-radius: 5px;
      
        

     }
     .card{
         border-radius: 10px;
         background-color: #C9DDE8;
     }
     .title.title-md {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 20;
        padding-top: 1.5%;
        height: 90%;
        width: 100%;
        text-align: center;
    }
    .title.title-ios {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 20;
        padding-top: 2.5%;
        height: 90%;
        width: 100%;
        text-align: center;
    }
}

