<!--
  Generated template for the ShiftplanningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons end>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <img src="http://oi68.tinypic.com/2eupsb5.jpg" height="30px" width="90px">
  
      <ion-title text-center>Shift Planning</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding class="background">
    <ion-list>
        <ion-card color="light">
            <ion-card-content>
            <button color="light"
            ion-item
            icon-left
           (click)="onload()"
          >
            <ion-icon name="megaphone"></ion-icon>
            Open shifts</button>
          </ion-card-content> 
        </ion-card>
   
     
        <ion-card color="light">
            <ion-card-content>
            <button color="light"
            ion-item
            icon-left
            (click)= "pageload()">
            <ion-icon name="megaphone"></ion-icon>
            Closed shifts</button>
          </ion-card-content> 
        </ion-card>
           <ion-card color="light">
        <ion-card-content>
        <button color="light"
        ion-item
        icon-left
        (click)= "load()">
        <ion-icon name="megaphone"></ion-icon>
        Coming shifts</button>
      </ion-card-content> 
      </ion-card> 
      
        
    </ion-list>

    
    <!--<ion-card *ngFor= "let openShift of openShifts; let i = index">
      <ion-card-title text-center>
        {{openShift.Title}}
      </ion-card-title>
      <ion-card-header text-center>
          <p> Date: {{openShift.date}}</p>
          <p>Location:{{ openShift.location}}</p>
          <p>Timing: {{openShift.StartTime}} to {{openShift.EndTime}}</p>
      </ion-card-header>
      <ion-row>
        <ion-col text-right>
          <button
          ion-button
          small
          clear
          (click)="onLoadShift(openShift, i)">Details</button>
          
        </ion-col>
      </ion-row>
    
    
    </ion-card>  -->
  
    <ion-card *ngFor= "let user of users; let i = index">
      <ion-card-title text-center>
        Spinning Offer
      </ion-card-title>
      <ion-card-header text-left>
          <p> Date:    {{user.Datum }}</p>
          <p>Kunde: {{ user.Kunde}}</p>
          <p>Address:{{ user.ServiceAddress}}</p>
  
          <p>Start:   {{user.SchStart}}</p>
          <p>End:   {{user.SchEnd}}</p>
          
         
      </ion-card-header>
      <ion-row>
        <ion-col text-right>
          <button
          ion-button
          large
          clear
          
          ><ion-icon name="eye" icon-only></ion-icon></button>
          
        </ion-col>
      </ion-row>
    
    
    </ion-card>
    
    
    
     
    

</ion-content>
