
<ion-header>

  <ion-navbar>
    <ion-title>Open-shift</ion-title>
  </ion-navbar>

</ion-header>



 


<ion-content padding>
<ion-card>
  <ion-card-header text-center>
    
    {{ openShift.Title}}

  </ion-card-header>
  <ion-card-content>
      <p>Location: {{ openShift.location}}, {{ openShift.Street}}</p>
      <p>Date: {{ openShift.date}}, ({{ openShift.Day}})</p>
      <p>StartTime:{{ openShift.StartTime}}</p>
      <p>EndTime:{{ openShift.EndTime}}</p>
      <p>Signs:{{ openShift.Signs}}</p>
      <p>DressCode:{{ openShift.DressCode}}</p>
      <p>Others:{{ openShift.Otherinfo}}</p>
  </ion-card-content>
  <ion-row>
    <ion-col text-right>
      <button
      ion-button
      small
      clear
      (click)="onAddMyShift()"
      *ngIf="!isInterested()"
      >Interested</button>
      <button
      ion-button
      small
      clear
      color="danger"
      (click)="onRemoveMyShift()"
      *ngIf="isInterested()"
      >NotInterested</button>
    </ion-col>
  </ion-row>   


</ion-card>




  </ion-content>

