page-openshifts {
    .background{
        background-color: #004D79;
       
    }   
    ion-card {
       
        border-radius: 20px;
        

     }
     .card{
        border-radius: 18px;
     }
     .new{
         background-color: black;
     }
     
}
