page-openshifts {
    .background{
        background-color: rgb(14, 13, 14);
    }   
    ion-card {
        border-top: 3px solid  #802e54;
        border-bottom: 3px solid  #802e54;
        border-right: 3px solid  #802e54;
        border-left: 3px solid  #802e54;
        border-radius: 5px;
        

     }
}
