
<ion-header>
  <ion-navbar>
 
    <ion-buttons end>
      <button ion-button icon-only (click)="onloadJson()">
        <ion-icon name="refresh"></ion-icon>
      </button>
     </ion-buttons>
    <ion-title text-center ><a>Verfügbare Einsätze</a></ion-title>
  </ion-navbar>
 
</ion-header>




<ion-content padding class="background">
  
  <!--<ion-card *ngFor= "let openShift of openShifts; let i = index">
    <ion-card-title text-center>
      {{openShift.Title}}
    </ion-card-title>
    <ion-card-header text-center>
        <p> Date: {{openShift.date}}</p>
        <p>Location:{{ openShift.location}}</p>
        <p>Timing: {{openShift.StartTime}} to {{openShift.EndTime}}</p>
    </ion-card-header>
    <ion-row>
      <ion-col text-right>
        <button
        ion-button
        small
        clear
        (click)="onLoadShift(openShift, i)">Details</button>
        
      </ion-col>
    </ion-row>
  
  
  </ion-card>  -->

  <ion-card *ngFor= "let user of users; let i = index" text-wrap>
    <ion-card-title text-center >
      <a>{{ user.Kunde}}</a>
    </ion-card-title>
    <ion-card-header text-left text-wrap>

        
        <p><a>Date</a>: {{user.Datum }}</p>
        <p><a>Kunde</a>: {{ user.Kunde}}</p>
        <p><a>Address</a>: {{ user.ServiceAddress}}</p>
        <p><a>Start</a>: {{user.SchStart}}</p>
        <p><a>End</a>: {{user.SchEnd}}</p>
        
       
    </ion-card-header>
    <ion-row>
      <ion-col text-right>
        <button
        ion-button
        large
        clear
        (click)= "onInterested(user)"
        ><ion-icon name="eye" icon-only></ion-icon></button>
        
      </ion-col>
    </ion-row>
  
  
  </ion-card>
  
  
  
   
  
    </ion-content>
  
