page-loginpage {
    .background{
        background-color:#004D79;
    }  

.scroll-content{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
ion-card.card {
    box-shadow: none;
    border-radius: 5px;
    background: #004D79;
}
a, p,
ion-card-header.card-header{
    color: #fff;
}
.item{
    margin-bottom: 10px;
    border: medium none;
    background: #C9DDE8;
    border-radius: 5px;

}
.list > .item-block:first-child{
    border: medium none;
}
.text-input{
    color: black;
}
::-webkit-input-placeholder{
    color: black !important;
}
::-moz-placeholder{
    color: black !important;
}
:-ms-input-placeholder{
    color: black !important;
}
.icon{
    padding-right: 10px;
}
.bottom{
    position: absolute;
    bottom: 10px;
}
}
