page-closedshifts {
    .background{
        background-color: rgb(11, 11, 15);
    }
    ion-card {
        border-top: 3px solid  #802e54;
        border-bottom: 3px solid  #802e54;
        border-right: 3px solid  #802e54;
        border-left: 3px solid  #802e54;
        border-radius: 5px;
        

     }
}
